/*pacman styles edited 2/3/17 12:40pm */

/* Section 1: Site-wide Styles */

.centered {
    text-align:center;
}

/* Section 2: Header Styles */

#top-head {
    width:100%;
    background-color:#CCC;
    box-shadow:0 0 5px 5px #AAA;
    padding:10px;
    z-index:10;
    position:relative;
}

#logo-container {
    float:left;
}

#header-logo {
    height:60px;
}

#header-right-container {
    float:right;
}


nav {

    background: #365c8e; /* Old browsers */
    background: -moz-linear-gradient(top,  #365c8e 0%, #19689e 49%, #175993 51%, #1a6ea5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #365c8e 0%,#19689e 49%,#175993 51%,#1a6ea5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #365c8e 0%,#19689e 49%,#175993 51%,#1a6ea5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#365c8e', endColorstr='#1a6ea5',GradientType=0 ); /* IE6-9 */
    color:white;
    
    height:90px;
}

nav div a{
    color:white;
}

nav .navbar-header a:hover {
    color:#a0c4e4 ;
}

nav li {
    box-shadow: -7px 0px 7px -8px #333;
}

nav li:last-child {
    box-shadow: -7px 0px 7px -8px #333, 7px 0px 7px -8px #333;
}
nav li a {
    padding: 35px 50px !important;
    font-size: 20px;

}

nav li a:hover {
    color:#71ade2 !important;
    background-color: rgba(0,0,0,0)  !important;
}

/* Section 3: Body Styles */
#full-body {
    background: #365c8e; /* Old browsers */
    background: -moz-linear-gradient(top,  #365c8e 0%, #19689e 28%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #365c8e 0%,#19689e 28%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #365c8e 0%,#19689e 28%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#365c8e', endColorstr='#19689e',GradientType=0 ); /* IE6-9 */
    padding:20px 10%;
}

.body-container {
    margin: 0 auto 20px;
    box-shadow:1px 1px 6px 0px #222;
    padding:20px;
    position:relative;
    background-color:#f5f5f0;
}

.body-container.full {
    width:100%;
}

.body-container.half {
    width:47%;
    float:left;
}

.body-container.half.start {
    margin-right:6%;
}
/* Section 4: Footer Styles */

footer {
    background-image: 
		/*2 grey borders*/
		linear-gradient(
			transparent 8%, 
			rgba(100, 100, 100, 1) 8%, 
			rgba(100, 100, 100, 1) 14%, 
			transparent 14%, 
			transparent 86%, 
			rgba(100, 100, 100, 17) 86%, 
			rgba(100, 100, 100, 1) 92%, 
			transparent 92%
		), 
		/*thin stripes*/
		linear-gradient(
			45deg, 
			transparent 45%, 
			rgba(0, 0, 0, 0.2) 45%, 
			rgba(0, 0, 0, 0.2) 55%, 
			transparent 55%
		), 
		/*white base*/
		linear-gradient(#555,#555);
    background-size: 
		cover, /*borders*/
		4px 4px, /*thin stripes*/
		cover; /*base white*/
    padding:20px 10%;
}

/* Section 5: Homepage Styles */

#home-jumbotron {
    
    background-image: url('/pacman/images/huntington-med.jpeg');
    background-size: cover;
    color:white;
    height:400px;
    padding:0px;
    margin:90px 0 0 0;
}

#home-jumbotron #home-h1 {
    font-weight:700;
    font-size:54px;
}

#jumbotron-overlay {
    background: rgba(0,0,0,.6);
    padding:20px 10%;
    height:100%;
}

#home-signup-container {
    margin-top:40px;
    text-align:center;
}
#home-signup-container input, #home-signup-container button {
    display:inline-block;
    width:200px; 
    margin:10px 20px;
    position: relative;
    height: 35px;
    bottom: 1px;
}



#ribbon-container {
    text-align:center;
    padding:0 10%;
}
